<div th:fragment="addTopic_frag" class="align-items-center">
    <form class="form-signin text-center" th:action="@{/publisher/addTopic}" th:object="${addTopic}" method="POST">
        <h1 class="h3 mt-10 font-weight-normal">Adicione um tópico</h1>
        <div class="mt-4 col-md-12"></div>
        <input id="title" class="form-control center-div" placeholder="Tópico" required autofocus th:field="*{name}">
        <div class="mt-4 col-md-12"></div>
        <button class="btn btn-lg btn-primary btn-block align-items-center" type="submit" >Criar</button>
        <p class="mt-4 mb-4 p-3 text-muted">&copy; Copyright Notícias Quentinhas 2021-2022</p>
    </form>
</div>