<div th:fragment="addTopic_frag">
    <div class="container">
        <h2>Available Topics</h2>
        <ul class="list-group">
            <li class="list-group-item">First item</li>
            <li class="list-group-item">Second item</li>
            <li class="list-group-item">Third item</li>
        </ul>
    </div>

    <div class="mt-4 col-md-12"></div>

    <form>
        <div class="form-group shadow-textarea">
            <label for="exampleFormControlTextarea6">Insert a different Topic from the available ones</label>
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="1" placeholder="Topic to write..."></textarea>
        </div>
    </form>
</div>