<div th:fragment="createNews_frag">

    <script type="text/javascript">

        $(document).ready(function () {
            $('#fileImage').change(function () {
                showImageThumbnail(this);
            });
        });
        function hasWhiteSpace(s) {
            const whitespaceChars = [' ', '\t', '\n'];
            return whitespaceChars.some(char => s.includes(char));
        }
        function showImageThumbnail(fileInput) {

            if(fileInput.files[0].size >= 1048576){
                alert("Ficheiro muito grande!");
                fileInput.value = "";
            }else if(hasWhiteSpace(fileInput.files[0].name)){
                alert("Ficheiro com espaços no nome!");
                fileInput.value = "";
            }

            else {
                file = fileInput.files[0];
                reader = new FileReader();
                reader.readAsDataURL(file);
            };

        }
    </script>
    <div class="p-4 p-md-4 mb-4 text-white rounded bg-dark">
        <div class="col-md-14 px-63">
            <h1 class="display-2 fst-italic">Notícias Quentinhas</h1>
        </div>
    </div>
    <h1 class="h3 mb-5 font-weight-normal">Cria uma noticia</h1>
    <div th:if="${topicsSize} == 0" class="alert alert-danger center-div text-center">
        Não existem tópicos!
    </div>
    <div th:if="${topicsSize} != 0" >
        <form class="form-signin" th:action="@{/publisher/createNewsButton}" th:object="${newsForm}" method="POST"  enctype="multipart/form-data">

            <div th:if="${create} == 'fail'" class="alert alert-danger center-div text-center">
                Notícia já existe!
            </div>

            <div th:if="${create} == 'success'" class="alert alert-success center-div text-center">
                Notícia criado com sucesso!
            </div>
            <div class="mt-4 col-md-12"></div>

            <input id="title" class="form-control" placeholder="Titulo" maxlength="100" required autofocus th:field="*{title}">
            <div class="mt-4 col-md-12"></div>
            <div class="form-group" >
                <label for="content">Corpo da notícia</label>
                <textarea class="form-control" id="content" placeholder="Conteúdo"  rows="7"  maxlength="180" th:field="*{content}"></textarea>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="file" class="fileImage" id="fileImage" name="fileImage" accept="image/png, image/jpeg">
                </div>
            </div>
            <div class="mt-4 col-md-12"></div>
            <select class="form-select" aria-label="Default select example" th:field="*{topic}" >
                <option th:each="topicss : ${topicsList}" th:text="${topicss.name}" th:value="${topicss.name}"></option>
            </select>
            <div class="mt-4 col-md-12"></div>
            <div class="text-center">
                <button class="btn btn-lg btn-primary btn-block " type="submit" >Criar</button>

            </div>
        </form>
    </div>

</div>