<div th:fragment="searchTopic_frag">
    <div class="p-4 p-md-4 mb-4 text-white rounded bg-dark">
        <div class="col-md-14 px-63">
            <h1 class="display-2 fst-italic">Notícias Quentinhas</h1>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="topic, status: ${listTopics}">
            <th scope="row" th:text="${status.count}"></th>
            <td th:text="${topic.name}"></td>
        </tr>
        </tbody>
    </table>
</div>