<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/publisher/}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Adicionar
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/publisher/addTopic}" >Tópico</a></li>
                            <li><a class="dropdown-item" th:href ="@{/publisher/createNews}" >Notícia</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pesquisar
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" th:href="@{/publisher/searchTopic}">Tópicos disponíveis</a></li>
                            <li><a class="dropdown-item" th:href="@{/publisher/listNews}" >Notícias publicadas</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="d-flex">

                    <input type="text" readonly="readonly" disabled class="btn btn-warning" th:value="${loggedInUser}"/>
                    <div class="px-2"></div>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-warning" value="logout"/>
                    </form>
                </div>
            </div>

        </div>

    </nav>
</div>