<div th:fragment="news_frag">
    <div class="p-4 p-md-4 mb-4 text-white rounded bg-dark">
        <div class="col-md-14 px-63">
            <h1 class="display-2 fst-italic">Notícias Quentinhas</h1>
            <!-- <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p> -->
            <!-- <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> -->
        </div>
    </div>


    <!---ver site https://www.javatpoint.com/spring-mvc-form-drop-down-list--->
    <div>
        <div class="mt-2 col-md-12"></div>
        <div th:if="${topicsSize} == 0" class="alert alert-danger center-div text-center">
            Não existem tópicos!
        </div>
        <div th:if="${topicsSize} != 0" >
            <form class="form-signin" th:action="@{/subscriber/news}" th:object="${topicToSearch}" method="POST">
                <select class="form-select" aria-label="Default select example" required th:field="*{name}">
                    <option value="" selected disabled>Tópico</option>
                    <option th:each="topicss : ${topicsList}" th:text="${topicss.name}"  th:value="${topicss.name}"></option>
                </select>
                <div class="mt-2 col-md-12"></div>
                <label for="firstDate">Starting Date and Time: </label>
                <input id="firstDate" type="datetime-local" step="1" autocomplete="off"  required th:field="*{date1}"/>

                <div class="mt-2 col-md-12"></div>

                <label for="secondDate">Ending Date and Time: </label>
                <input id="secondDate" type="datetime-local" step="1" autocomplete="off" required th:field="*{date2}"/>
                <div class="mt-2 col-md-12"></div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" >Pesquisar</button>
            </form>


        </div>

    </div>


    <div class="mt-2 col-md-12"></div>
    <td th:switch="${validation}">
        <span th:case="'true'">

            <div th:if="${newsFromTimeStampSize} != 0" class="row mb-2 text-break">
                <div class="col-md-6" th:each="newIteration : ${newsFromTimeStamp}">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" >
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success"  th:text="${newIteration.topics_news.name}"></strong>
                            <h3 class="mb-0 text-break" th:text="${newIteration.title}"></h3>
                            <div class="mb-1 text-muted text-break"th:text="${newIteration.creationDate}" ></div>
                            <div class="mb-1 text-muted text-break" th:text="${newIteration.publisher.firstName}+' '+${newIteration.publisher.lastName}"></div>
                            <p class="mb-auto" th:text="${newIteration.content}"></p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img th:src="@{${newIteration.newsThumbnailPath}}" class="bd-placeholder-img" width="200" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${newsFromTimeStampSize} == 0" class="alert alert-danger center-div text-center">
                Não há noticias nesse intervalo!
            </div>
        </span>
        <span th:case="'false'">
            <div class="alert alert-danger center-div text-center">
                Datas incorretas!
            </div>
        </span>
        <span th:case="*">
        </span>
    </td>

</div>