<div th:fragment="removeTopic_frag">
    <div class="p-4 p-md-4 mb-4 text-white rounded bg-dark">
    <div class="col-md-14 px-63">
        <h1 class="display-2 fst-italic">Notícias Quentinhas</h1>
        <!-- <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p> -->
        <!-- <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> -->
    </div>
    </div>
    <select class="form-select input-md" aria-label="Default select example" >
        <option value="Teste"></option>
    </select>



    <div class="mt-2 col-md-12"></div>

    <button type="button" class="btn btn-secondary btn-md">Unsubscribe Topic</button>

</div>