<div th:fragment="topic_frag">
    <div class="p-4 p-md-4 mb-4 text-white rounded bg-dark">
        <div class="col-md-14 px-63">
            <h1 class="display-2 fst-italic">Notícias Quentinhas</h1>
            <!-- <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p> -->
            <!-- <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> -->
        </div>
    </div>

    <div class="center-div">
        <h1 class="h3 mt-10 font-weight-normal">Escolhe um tópico</h1>
        <form th:object="${checkedTopics}" th:action="@{/subscriber/topic}" method="POST" modelAttribute="home">
            <!--https://www.geeksforgeeks.org/spring-mvc-form-checkbox/--->
            <div th:each="topic : ${topicslist}" class="form-check">
                <input class="form-check-input" type="checkbox" th:field="*{name}" th:value="${topic.name}" th:text="${topic.name}" id="flex">
            </div>
            <div class="mt-2 col-md-12"></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" >Subscrever</button>
        </form>

    </div>

    </div>
</div>

