<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/subscriber/}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tópico
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/subscriber/topic}" >Subscrever um tópico</a></li>
                            <li><a class="dropdown-item" th:href ="@{/subscriber/removeTopic}" >Remover subscrição de tópico</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Consultar Notícias
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" th:href="@{/subscriber/news}">Através de um timestamp</a></li>
                            <li><a class="dropdown-item" th:href="@{/subscriber/lastNews}" >Última notícia de um tópico</a></li>
                        </ul>
                    </li>
                </ul>

                <div>
                    <img th:src="@{${profileSmallPic}}" width="50" height="50" class="avatar img-circle img-thumbnail" alt="avatar">
                </div>

                <div class="px-2"></div>

                <div class="d-flex">
                    <a type="button" class="btn btn-warning" th:href="@{/profile}">Perfil</a>
                    <div class="px-2"></div>
                    <input type="text" readonly="readonly" disabled class="btn btn-warning" th:value="${loggedInUser}"/>
                    <div class="px-2"></div>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-warning" value="logout"/>
                    </form>
                </div>
            </div>

        </div>

    </nav>
</div>